
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

<%- include('../partials/_head.ejs', { title: "Page Title", pageCss: "/stylesheets/pages/car.css" }) %>



    <title><%= ownedCar.model %></title>
  </head>
 <body>
  <%- include('../partials/_navbar.ejs') %>

  <div class="page-container show-container">
    <h1><%= ownedCar.model %> </h1>
    <p> Manufacturer: <%= ownedCar.manufacturer %></p>
    <% if (ownedCar.year) { %>
      <p>Manufacturer Year: <%= ownedCar.year %></p>
    <% } %> 

    <% if (ownedCar.numberPlate) { %>
      <p>Number Plate: <%= ownedCar.numberPlate %></p>
    <% } %> 

    <% if (ownedCar.insuranceCo) { %>
      <p>Insurance Co: <%= ownedCar.insuranceCo %></p>
    <% } %>

    <% if (ownedCar.insuranceDate) { %>
      <p>Insurance End Date: <%= ownedCar.insuranceDate.toISOString().split('T')[0] %></p>
    <% } %>

    <% if (ownedCar.registrationDate) { %>
      <p>Registration Date: <%= ownedCar.registrationDate.toISOString().split('T')[0] %></p>
    <% } %>

    <% if (ownedCar.nextMaintenancetype && ownedCar.nextMaintenanceAfter) { %>
      <p>Next Maintenance: <%= ownedCar.nextMaintenancetype %> after <%= ownedCar.nextMaintenanceAfter %> KM</p>
    <% } %>

    <% if (ownedCar.detail) { %>
      <p class="detail-textarea">More details: <%= ownedCar.detail %></p>
    <% } %>

    <div class="button-group">
      <form action="/users/<%= user._id %>/car/<%= ownedCar._id %>/edit" method="get">
        <button type="submit">Edit Car Info</button>
      </form>

      <form action="/users/<%= user._id %>/car/<%= ownedCar._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete This Car</button>
      </form>
    </div>
  </div>
</body>
</html>